{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>

    <h2>Change Password</h2>

    <form action="{% url 'change_password' %}" method="POST">
        {% csrf_token %}
        <label for="old_password">Old Password : </label>
        <input type="password" name="pwd1" required> <br>

        <label for="new_password">New Password :</label>
        <input type="password" name="pwd2" required> <br>

        <label for="confirm_password">Confirm Password :</label>
        <input type="password" name="pwd3" required> <br>

        <input type="submit" value="Change Password">

    </form>
    
</body>
</html>